.Projects .project-cards-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Projects .project-cards-container .project-card {
  padding: 0;
  margin: 10px;
  border-radius: 1rem;
}

.Projects .project-cards-container .project-card .div-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-size: contain;
}

.Projects .project-cards-container .project-card .text-container {
  padding: 35px;
  text-align: left;
}
