.Skills {
  width: 100vw;
  padding: 0 200px;
  margin: 300px 0 150px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.Skills .skills-cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
