.Button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #ddd;
  border: 0.06em solid #ddd;
  border-radius: 0.2em;
  user-select: none;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 0.8rem;
}

.Button:hover {
  background-color: transparent;
  color: #ddd;
}

.Button svg {
  font-size: 25px;
  margin-left: 7px;
  transition: all 0.2s;
}

.Button:hover > svg {
  transform: translate(7px, 0);
}
