.Logo {
  position: relative;
  width: 150px;
  user-select: none;
  cursor: pointer;
}

.Logo .corner-point {
  position: absolute;
  z-index: 100;
  top: 40px;
  right: -15px;
  border: 8px solid var(--seccondary-dark-bg);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #0f0;
}

.Logo img {
  width: 100%;
  border-radius: 100%;
}
