.Title {
  display: inline-flex;
  text-align: start;
  flex-flow: column;
  width: 725px;
  padding: 30px;
  padding-top: 70px;
  font-size: 65px;
  font-weight: 800;
}

.Title .dynamic-message-container h1 {
  font-size: 40px;
}

.Title .static-message-container h1 {
  font-size: 65px;
}

.Title .dynamic-message-container h1 .aptitude,
.Title .static-message-container h1 .name {
  color: var(--main-blue);
}

.Title .gh-container {
  padding-top: 30px;
  display: flex;
  align-items: flex-start;
}

.Title .gh-container a {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #222;
  color: #ddd;
  border: 0.06em solid #ddd;
  background-color: none;
  padding: 5px 12px;
  border-radius: 0.5em;
  user-select: none;
  transition: all 0.2s;
}

.Title .gh-container a:hover {
  background-color: #ddd;
  color: #222;
}

.Title .gh-container a svg {
  font-size: 22px;
}

@keyframes fadein_aptitude {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout_aptitude {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
